<% layout('layouts/boilerplate') %>
    <h1>Edit Event</h1>
    <form action="/events/<%= event._id %>?_method=PUT " method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="event[title]" id="title" value="<%= event.title %> ">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="event[location]" id="location" value="<%= event.location %> ">
        </div>
        <button>Update Event</button>
    </form>
    <a href="/events/<%= event._id %> ">Back to Event</a>