<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Event</title>
    <link href="/public/assets/index.css/" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand logo" href="#">Locals Aachen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  navList" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disappear" href="#">Add an Event</a>
                </li>
            </ul>
            <div class="search-box">
                <input class="search-txt" type="text" name="" placeholder="Type to Search">
                <a class="search-btn" href="#">
                    <i class="fa fa-search"></i>
                </a>
            </div>

        </div>
    </nav>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <form action="/events" method="POST" class="new-event-form">
                <div>
                    <label for="title">Title</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Event Title"
                        name="event[title]" id="title">
                </div>
                <div>
                    <label for="date">Date</label>
                    <input class="form-control" type="date" placeholder="Date" name="event[date]" id="date">
                </div>
                <div>
                    <label for="location">Location</label>
                    <input class="form-control" type="text" placeholder="Location" name="event[location]" id="location">
                </div>
                <div>
                    <label for="description">Description</label>
                    <input class="form-control" type="text" placeholder="Description" name="event[description]"
                        id="description" onkeyup="adjust_textarea(this)">
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" accept="image/*" name="event[file]">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Add Event</button>
            </form>
        </div>
    </div>
    <br>
    <a href="/events" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">All Events</a>
</body>

</html>