<% layout('layouts/boilerplate') %>
    <div class="card">
        <div class="card-body">

            <form action="/events" method="POST" class="new-event-form">
                <div>
                    <label for="title">Title</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Event Title"
                        name="event[title]" id="title">
                </div>
                <div>
                    <label for="date">Date</label>
                    <input class="form-control" type="date" placeholder="Date" name="event[date]" id="date">
                </div>
                <div>
                    <label for="location">Location</label>
                    <input class="form-control" type="text" placeholder="Location" name="event[location]" id="location">
                </div>
                <div>
                    <label for="Category">Category</label>
                    <input class="form-control" type="text" placeholder="Category" name="event[category]" id="category">
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea class="form-control" placeholder="Description" name="event[description]" id="description"
                        onkeyup="adjust_textarea(this)"></textarea>
                </div>
                <div>
                    <label for="Image URL">Image URL</label>
                    <input class="form-control" type="Image URL" placeholder="Image URL" name="event[img_url]"
                        id="img_url">
                </div>
                <button type="submit" class="btn btn-primary">Add Event</button>
            </form>
        </div>
    </div>
    <br>
    <a href="/events" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">All Events</a>