:root{
    --stdHeight : 80px;
    --blueDianne : #264653;
    --jungleGreen : #2a9d8f;
    --robRoy : #e9c46a;
    --sandyBrown : #f4a261;
    --burntSienna : #e76f51;
}

html, body {
    height : 100%;
    width : 100%;
    padding: 0%;
    margin : 0%;
    }

header{
    width: 100%;
    height: var(--stdHeight);
    position: absolute;
    background-color: blue;

}

.map{
    height : 100%;
    width : 100%;
    background-color: pink;

}

.leftControl{
    height: calc(100% - var(--stdHeight));
    width : var(--stdHeight);
    position: absolute;
    background-color: aliceblue;
    top : var(--stdHeight);
    left :0;
}

.list{
    position: absolute;
    background-color: var(--robRoy);
    width:calc(100% - var(--stdHeight));
    height: 20%;
    bottom: 0;
    left: var(--stdHeight);
}

/*List entry box*/
#box {
    height: 400px;
    margin-bottom: 15%;
}



/*image*/
.mg-col-4{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

/*List content*/
/*Title*/
.listTitels{
    font-size: medium;
    color: #f39c18;
    margin-top: 3%;
}

.listTitels:hover {
    color: #f36818;
    cursor: default;
    text-decoration: none; /*doen´t work*/
}

/*Content*/

.listDiscription {
    font-size: small;
    height: 40%;
}

.container{
     background-color:lightgrey; 
    

     /* Laschet-Code */
    /* background-image:   
    
    url("https://www.zdf.de/assets/armin-joe-laschet-100~2400x1350?cb=1606838960841");
    
  background-repeat: repeat-x;
  background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: 
    2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
  animation: 600s para infinite linear; */
}

a:hover {
    cursor: default;
    text-decoration: none;
    background-color: pink;
}


/*bottom*/
#B {
    /* background-color: ; does work */
    position: top; /*doen´t work*/
}

#B:hover {
    cursor: default; /*doen´t work*/
}


/* Laschet-Code */
/* @keyframes para {
    100% {
      background-position: 
        -5000px 20%,
        -800px 95%,
        500px 50%,
        1000px 100%,
        400px 0;
      }} */